* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(106, 214, 106);
} 

#fundoVerde { 
    background-color: rgb(8, 97, 8);
    background-image: url(Gemini_Generated_Image_s7afvs7afvs7afvs.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    back
}

.CENTRO {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 8px;
}

.TextoVerde {
    color: rgb(106, 214, 106)
}

.textMain {
    padding-left: 150px;
    padding-right: 150px;
}

.textSubject {
    font-size: 20px;
    padding-bottom: 16px;
    padding-top: 4px;
}

.LoginInputs {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.InputLogin {
    display: grid;
    justify-content: center;
    justify-items: baseline;
    padding-bottom: 8px;
}

.BUTOES {
    padding-bottom: 12px;
}

input {
    height: 24px;
    background-color: rgb(8, 97, 8);
}

button {
    width: 160px;
    height: 30px;
    margin-bottom: 16px;
    background-color: rgb(8, 97, 8);
    border-radius: 8px;
}

.SEPARADO {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}